@mixin floating($width) {
  @if ($width > 150px) {
    border-radius: 6em;
    border: solid 2px rgb(240, 164, 177);
    box-shadow: 5px 5px 10px 3px rgba(212, 99, 140, 0.44);
  } @else {
    box-shadow: 5px 5px 15px -5px #696969;
  }
}

// @mixin grid($widht) {
//   display: flex;
//   flex-wrap: wrap;
//   @if($widht > 576px) {

//   }
// }
